img {
  width: 30%
}

p {
  font-size: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#results-section {
  text-align: center;
}

#divisible-by-three {
  display: none;
}

#boop {
  display: none;
}

#beep {
  display: none;
}
